@font-face {
    font-family: Roboto;
     src: url("../blackone/assets/fonts/Roboto/Roboto-Light.ttf");
   }
@font-face {
    font-family: Roboto-Bold;
    src: url("../blackone/assets/fonts/Roboto/Roboto-Bold.ttf");
}  

@media (max-width: 1440px) and (min-width: 320px) {
    .section {
        width: 100%;
    }
}

* {
    box-sizing: border-box;
  }
  
html {
    scroll-behavior: smooth;
}

.nav {
    background-color: rgba(0, 0, 0, 0.1);
    display: block;
    width: auto;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    list-style: none;
    width: auto;
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
    line-height: 50px;
    position: relative;
    font-size: 20px;
    color: black;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #4d2323;
}

.footer {
    display: flex;
    width: 100%;
    background-color: #2c323d;
    color: white;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    grid-template-columns: 40px 50px auto 50px 40px;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
}

.section {
    width: 50%;
    display: block;
}

.section-title {
    position: relative;
    margin: 0;
    margin-bottom: 36px;
    padding-left: 60px;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: black;
    line-height: 36px;

}

.section-item {
    position: relative;
    padding-left: 30px;
}

.link {
    text-decoration: none;
    color: #829985;
    transition: color 0.5s;
}

.git {
    display: flex;
    justify-content: flex-start;
    padding: 0 20px;
    line-height: 50px;
    list-style: none;
}

.contacts {
    padding:20px 0px 54px 0px;
    height: 300px;
    background-color: #343945;
    color: white;
    font-size: 18px;
    width: 400px;
}

.education {
    position: relative;
    margin-top: 0;
    padding: 0px 0px 54px 0px;
    background-color: #2c323d;
    color: white;
    font-size: 18px;
    width: 100%;
}

.right-side {
    position: relative;
    display: block;
    height: 100%;
    margin-left: 0;
    margin-right: 250px;
    padding: 0;
    font-size: 16px;
    line-height: 30px;
    font-weight: 600;
    color: black;
}

.left-side {
    display: grid;
    margin-left: 232px;
    margin-right: auto;
    grid-template-columns: 400px; 
    background-color: #2c323d;
    color: white;
}

.section-title::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 20px;
    height: 36px;
    background-color: #f2c100;
}

.left-side .section-title {
    background-color: lightgray;
}

.right-side .section-title {
    background-color: lightgray;
    width: 1000px;
}

.cont {
    padding-left: 50px;
    padding-right: 50px;
}

.photo {
    margin: 0;
    padding: 0;
    width: 100%
}

.aboutme {
    display: block;
    width: 900px;
    margin: 0 50px 0 50px;
    padding: 0;
    line-height: 24px;
    font-size: 16px;
}

.section-skills {
    margin-top: 50px;
}

.skills {
    margin-left: 30px;
}

.section-experience {
    margin-top: 40px;
}

.exp {
    margin-left: 50px;
}

.section-languages {
    margin-top: 50px;
}

.languages {
    margin-left: 50px;
}

h1 {
    position: relative;
    margin-top: 200px;
    height: 200px;
    padding-left: 60px;
    font-size: 26px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: black;
    line-height: 36px;
}

.rs {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

.footer-year {
    display: flex;
    justify-content: flex-start; 
    padding: 0 20px;
    line-height: 50px;
    list-style: none;
    font-weight: 200;
}

.code {
    margin-left: 50px;
    width: 800px;
    line-height: 20px;
}


